<div>
	Available Buckets&nbsp;:&nbsp;<select [(ngModel)]="selectedBucket" (ngModelChange)="onBucketChange($event)">
	    <option *ngFor="let sp of supportedBuckets"	title=" By:{{sp.name}} Version:{{sp.creationDate}}" [ngValue]="sp">{{sp.name}}
		</option>
	</select>
	<button (click)="onRefreshList()">Refresh List</button>
             </div><br><div>
	Available Objects&nbsp;:&nbsp;<select [(ngModel)]="selectedFile" (ngModelChange)="onFileChange($event)">
	    <option *ngFor="let sp of supportedFiles"	title=" By:{{sp.key}} Version:{{sp.lastModified}}" [ngValue]="sp">{{sp.key}}
		</option>
	</select>
	<button class="btn btn-primary btn-sm active" (click)="doDeleteObject()" title="Deletes the Object from S3">Delete Object</button>
</div>				
				


