
<div class="row">
		<div class="col-xl-20 col-lg-20">
			<div class="card card-primary card-inverse">
				<div class="card-header card-secondary">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-object-group fa-3x"></i>
						</div>
						<div class="col-xs-9 text-xs-right">
						<div class="medium"><font color='red'><b>Step 1</b></font></div>
							<div class="medium">Use Bucket:<b>{{gv.bucketName}}</b></div>

						</div>
					</div>
				</div>
				<div>
				    
					<select [(ngModel)]="selectedBucket" (ngModelChange)="onBucketChange($event)">
					    <option *ngFor="let sp of supportedBuckets"	title=" By:{{sp.name}} Version:{{sp.creationDate}}" [ngValue]="sp">{{sp.name}}
						</option>
					</select>
					<button (click)="onRefreshList()">Refresh List</button>
				</div>
				<hr>
				<div>
					<select [(ngModel)]="selectedFile" (ngModelChange)="onFileChange($event)">
					    <option *ngFor="let sp of supportedFiles"	title=" By:{{sp.key}} Version:{{sp.lastModified}}" [ngValue]="sp">{{sp.key}}
						</option>
					</select>
					<button (click)="onRefreshList()">Refresh List</button>
				</div>				
				
			</div>
		</div>
</div>
