<div class="container-fluid">
	<h2 class="text-muted">
		Dashboard <small>Statistics Overview</small>
	</h2>
	<div class="row">
		<div class="col-md-3">
			<img src="assets\img\slider1.jpg">
		</div>
	</div>
	<hr>
 

	<tabset _ngcontent-ahn-19="" class="tabs checkout-tabs tab-container" ng-reflect-justified="true">
	  <tab>
	   <ng-template tabHeading><i class="fa fa-archive fa-2x"></i>&nbsp;S3:{{gv.bucketName}}/{{gv.objectName}}</ng-template>
       <div class="tab-page-content">
	     <app-cruises3></app-cruises3>
	     </div>
	  </tab>
	  <tab >
	  <ng-template tabHeading><i class="fa fa-ship fa-2x"></i>&nbsp;Services</ng-template>
       <div class="tab-page-content">
	     <app-plugins #cruies3></app-plugins>
	     </div>
	  </tab>
	  <tab >
	  <ng-template tabHeading><i class="fa fa-code fa-2x"></i>&nbsp;JS Editor</ng-template>
       <div class="tab-page-content" >
	    <codemirror #editor [(ngModel)]="code" [config]="config" (focus)="editorFocus($event)" (change)="onChange()" (copy)="copyCode($event)" (cut)="copyCode($event)" (paste)="pasteCode($event)"></codemirror>

	    </div>
	  </tab>
	</tabset>
</div>
<!--

<accordion>

  <accordion-group #group>
    <div accordion-heading class="col-xl">
      <i class="fa fa-archive fa-3x"></i>
      <span class="badge badge-primary">Stored Services:<b>{{gv.bucketName}}/{{gv.objectName}}</b></span>
    </div>
    <app-cruises3></app-cruises3>
  </accordion-group>
  <accordion-group >
    <div accordion-heading class="col-xl">
      <i class="fa fa-ship fa-3x"></i>
      <span class="badge badge-primary">(optional)Execute</span>
    </div>
    <app-plugins #cruies3></app-plugins>
  </accordion-group>


  <accordion-group >
    <div accordion-heading class="col-xl">
      <i class="fa fa-code fa-3x"></i>
      <span class="badge badge-primary">CruiseJS - JSScript Helper</span>
    </div>
    <pre><codemirror #editor [(ngModel)]="code" [config]="config" (focus)="editorFocus($event)" (change)="onChange()" (copy)="copyCode($event)" (cut)="copyCode($event)" (paste)="pasteCode($event)"></codemirror>
    </pre>
      

  </accordion-group>


</accordion>
</div>


 -->
